doctype html
html
  head
    title= "Brambl demo" 
  body
    #container
    script.
      document.addEventListener("DOMContentLoaded", function(event) { 
        var graph = new Brambl.Graph('#container');
        graph.start();
      });

  
