doctype html
html
  head
    title= "Giraph demo" 
  body
    #container
    script.
      document.addEventListener("DOMContentLoaded", function(event) { 
        var giraph = new Giraph('#container');
      });

  
