doctype html
html
  head
    title= "Brambl demo" 
  body
    #container
    script.
      document.addEventListener("DOMContentLoaded", function(event) { 
        var brambl = new Brambl('#container');
      });

  
